.wbs-notification-manager {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1rem;
  z-index: 99;
  align-items: flex-end;
  display: flex;
  flex-direction: column-reverse;

  &__notification {
    width: 300px;
    background-color: gray;
    color: white;
    padding: 1rem;
    border-radius: 0.1rem;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    &--error {
      color: #cc1212;
      border-color: #cc1212;
      background-color: #fef3f3;
    }

    &--success {
      color: #2a910b;
      border-color: #2a910b;
      background-color: #b9ffc3;
    }

    &__message {
      font-size: 0.9rem;
    }

    &__timestamp {
      font-size: 0.5rem;
    }
  }
}
